.bottom-input-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #778899;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
  padding: 10px 10px;
  z-index: 10;
}

/* If specific to a component */
.custom-button {
  --background: #a9adb1; /* Replace with your desired background color */
}

.bottom-input-box input {
  flex-grow: 1;
  padding: 12px 5px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  color: #f8f8ff;
  background-color: #778899;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.bottom-input-box input::placeholder {
  color: #000000;
  opacity: 1;
}

.bottom-input-box input:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #b8b7b7, inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.bottom-input-box .submit-button,
.bottom-input-box .camera-button {
  background-color: #007bff; /* Adjust background color as needed */
  border-radius: 50%;
  padding: 10px;
}

.bottom-input-box .submit-button {
  margin-left: 10px;
}

.bottom-input-box .camera-button {
  margin-left: 10px;
}

.bottom-input-box .submit-button .fa-paper-plane,
.bottom-input-box .camera-button .fa-camera {
  color: #ffffff;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  color: #dc143c;
  cursor: pointer;
}
