.pose-detection-page {
  background-color: #2E3B55; /* Replace with your desired color */
  height: 100%;
}

.pose-detection-content {
  --background: #2E3B55; /* Set the background for IonContent */
}
.pose-detection-page .ion-toolbar {
  background-color: #2E3B55 !important;
}

